# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Secrets
.env
.env.*

# Data (if you don't want to publish datasets)
data/*.csv

# Model artifacts (ONLY ignore if you will re-train on deploy)
# artifacts/
# artifacts/models/
